extends layout
block indexcss 
  link(rel="stylesheet" href="/stylesheets/indexcss.css")
block content
  h1= title
  p Welcome too #{title}
  div.car-frame 
    each car in car_instances 
      div.car-container 
        img(src= car_image_path, alt="", srcset="")
        p #{car.plate}
        p #{car.model.make.name}
        p #{car.model.name}
        
    
